<p>Dni tygodnia</p>

<h3>Dyrektywa *ngFor</h3>
<ul>
   <li *ngFor="let day of days">
   {{day}}


   </li>
   
</ul>

<ul>
  <li *ngFor="let dog of dogs; let i = index">
  {{i+1}} Piesek ma na imię {{dog.name}} i ma {{dog.age}} lata


  </li>
  
</ul>

<app-pierwszy *ngFor="let i of [1,2,3,4]"></app-pierwszy>


<h3>Dyrektywa *ngIf</h3>

<div *ngIf="days.length > 0">
<ul>
  <p *ngFor="let day of days; let e = even"
  >
  <li *ngIf="e">
  {{day}}
  </li>

</p>
  
</ul>
</div>



  <div *ngFor="let dog of dogs; let i = index">
    <div *ngIf="dog.age > 3">
  {{i+1}} Piesek ma na imię {{dog.name}} i ma {{dog.age}} lata.
  </div>
</div>





<h3>*ngIf;then;else</h3>

<div *ngIf="dogs.length > 0;then areDogs; else noDogs"></div>
<ng-template #areDogs>
<ng-container *ngFor="let dog of dogs; let i = index">
  <div *ngIf="dog.age > 3">
{{i+1}} Piesek ma na imię {{dog.name}} i ma {{dog.age}} lata.
</div>
</ng-container>
</ng-template>


<ng-template #noDogs>
   <p>Nie ma piesków</p>

</ng-template>

<button (click)="addDogs()">Dodaj</button>
<button (click)="removeDogs()">Usun</button>

<h3>ngSwitch</h3>

<div *ngFor="let day of days">
 <div [ngSwitch]="day">
<div *ngSwitchCase="'Poniedziałek'">Montag</div>
<div *ngSwitchCase="'Wtorek'">Dienstag</div>
<div *ngSwitchCase="'Środa'">Mittwoch</div>
<div *ngSwitchCase="'Czwartek'">Donnerstag</div>
<div *ngSwitchCase="'Piątek'">Freitag</div>
<div *ngSwitchCase="'Sobote'">Samstag</div>
<div *ngSwitchDefault>Sonntag</div>

 </div>

</div>